.container{
    height: 400px;
    width: 400px;
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
}

.item{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    font-size: 20pt;
    background-color: lightblue;
    color: white;
}